@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fredoka&display=swap');
/* font-family: 'ABeeZee', sans-serif; //use it for main text */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
/* ^Form head font-> font-family: 'Fredoka', sans-serif;*/

/* #a8e6cf
#dcedc1
#ffd4b6
#ffa9a5
#ff8c94 */
*{
    transition: 0.5s;
    font-family: 'ABeeZee', sans-serif;
}

button:hover, a:hover {
    transform: scale(1.1);
}
body{
    margin:0;
    background: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    /* text-decoration-line: none; */
}

.header_top{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* HEADER LOGO + LETTER */
.logo_name {
    font-size: 1.2em;
    line-height: 0.8em;

}
.logo_name:hover{
    transform: rotateX(360deg) scale(1.1)
}

#logo {
    width: auto;
    height: 9em;
    padding: 0px;
    margin: 2em auto 0;
    display: block;
    animation: spin 5s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

/* ATTEMPT TO PUT SIDE BY SIDE (CENTER/RIGHT) */
/* .side-by-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: inline;
    border: 1px green solid;
}
.title {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: flex-end;
    border: 1px blue solid;
    float: center;
} */
.search_bar {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
	flex-direction: row;
    align-self: flex-end;
    margin: 0 1em;
    /* border: 1px red solid; */
}
.search_hover {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 0.8em;
}
.search_hover input,
.search_hover input::placeholder{
    width: 2em;
    z-index: 10;
    background-color: transparent;
    color: transparent;
    font-family: 'ABeeZee', sans-serif;
    padding: 0 5px;
    border-radius: 2em;
    border: none;
    transition: 0.5s;

}
.search_hover input:hover,
.search_hover input:hover::placeholder {
    width: 20vw;
    color: #666;
    background-color: #ff8c94;
    border: 2px solid transparent;
}
#search {
    position: absolute;
    right: 2px;
    width:2em;
    align-self: center;
}
.reservation {
    padding: 8px 15px;
    border:3px #ffd4b6 solid;  
    border-radius: 20px;
    background-color: #ffd4b6;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500px;
    /* color: white; */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.reservation:hover {
    background-color: white;
    border: 3px #ffd4b6 solid; 
}

/* HEADER NAVIGATION */
ul {
    list-style: none;
}

nav{
    background: #ff8c94;
}
#dropdown{
    display: none;
}

#bar{
	height: 50px;
	margin: 15px auto 0px;
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	}

@media screen and (max-width:780px){
    nav{
        position: relative;
        z-index: 100000000000000;
    }
    #dropdown{
        margin: 1em 0;
        padding: 1em 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #dropdown i {
        font-size: 1.4em;
        margin: 0 5px;
    }
    #bar{
        background: #ff8c94;
        position: absolute;
        top: 2em;
        padding: 0;
        width: 100%;
        display: none;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
@media screen and (max-width:780px){
    nav{
        font-size: 0.8em;
    }
}


#bar li a {
    color: #000;
    font-weight: 600;
    font-size: 1.1em;
    float:right;	
    text-decoration: none;
    padding:15px 20px 20px 20px;
}
#bar li a:hover {
    color: white;
    font-weight: 500;
    /* font-size: 1.2em; */
}



/* FOOTER  */

/* LEFT BLOCK */
a:hover {
    color: #ff8c94;
    font-weight: 500;
}
.list_1, .list_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.5em;
}
.list_1 a {
    padding: 0 1em;
}
.list_2 {
    font-size: 2.6em;
}

/* NEWSLETTER BUTTON */
.form {
    /* margin: 0px; */
    /* padding: 2px 0px; */
    /* border: 2px green solid; */
    /* display: flex; */
    flex-direction: row;
    /* justify-content: flex-end; */
}
#email {
    width: 20em;
    margin: 0px 5px 0px 0px;
    padding: 0.8em 1em ;
    border: 2px solid #dcedc1; 
    border-radius: 15px;
}
#sub_button {
    width: 120px;
    padding: 0.8em 1em ;
    border: 2px solid #dcedc1; 
    border-radius: 15px;
    background-color: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600px;
    /* color: white; */
    letter-spacing: 1px;
}
#sub_button:hover {
    transform: scale(1.1);
    background-color: #ff8c94;
    border: white;
    border: 2px solid white; 
}

.copyright {
	background: #dcedc1;
}